services:
  postgres:
    profiles: ["panel"]
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: panel
      POSTGRES_PASSWORD: panelpass
      POSTGRES_DB: paneldb
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    profiles: ["panel"]
    image: redis:7
    restart: unless-stopped

  api:
    profiles: ["panel"]
    build: ./apps/api
    restart: unless-stopped
    environment:
      DATABASE_URL: postgres://panel:panelpass@postgres:5432/paneldb
      REDIS_URL: redis://redis:6379
      JWT_SECRET: change_me_super_long
      PANEL_PUBLIC_URL: http://localhost
    depends_on:
      - postgres
      - redis
    expose:
      - "4000"

  web:
    profiles: ["panel"]
    build: ./apps/web
    restart: unless-stopped
    environment:
      NEXT_PUBLIC_API_URL: /api
    depends_on:
      - api
    expose:
      - "3000"

  nginx:
    profiles: ["panel"]
    image: nginx:alpine
    restart: unless-stopped
    depends_on:
      - web
      - api
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro

  node-daemon:
    profiles: ["node"]
    build:
      context: ./apps/node
    container_name: custom-hosting-panel-node
    restart: unless-stopped
    environment:
      NODE_TOKEN: "${NODE_TOKEN:-node_secret}"
      DATA_DIR: "/data"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - node_data:/data
    ports:
      - "5000:5000"


volumes:
  postgres_data:
  node_data:
